# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env.local
.env.*.local

# vercel
.vercel

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
coverage/

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# misc
*.pem
*.log
