@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 32, 44;
  --background-start: 245, 247, 250;
  --background-end: 195, 207, 226;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    135deg,
    rgb(var(--background-start)) 0%,
    rgb(var(--background-end)) 100%
  );
}
